/* Reset de márgenes y padding para que no haya diferencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
}

/* Contenedor principal del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #4CAF50;
    outline: none;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #4CAF50; /* Verde */
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* Efecto al enfocar */
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Botón de submit */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}

button[type="submit"]:hover {
    background-color: #45a049;
    border: none;
    transform: translateY(-2px);
}

/* Estilo para el botón de ver contraseña */
div .div-toggle-password{
    display: flex;
    align-items: center;
    gap: 10px;
}

button#toggle-password {
    background-color: transparent;
    color: #555;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: -15px;
    display: block;
    margin-left: auto;
}

button#toggle-password:hover {
    color: #4CAF50;
    border: none;
    transform: translateY(-2px);
}

/* Estilo para el enlace de registro */
p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

/* - BARRA DE NAVEGACION - */
/* Estilos generales para el nav */
/* Eliminar sombreado y fondo del contenedor nav */
nav {
    background-color: transparent; /* Fondo transparente */
    padding: 10px;
    display: flex;
    justify-content: space-around; /* Distribuir botones horizontalmente */
    gap: 20px; /* Espaciado entre botones */
}

/* Botones del menú (estilo flotante) */
nav ul {
    list-style: none; /* Quitar viñetas */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Espaciado entre botones */
}

nav ul li a {
    text-decoration: none; /* Quitar el subrayado */
    color: white; /* Texto blanco */
    background-color: #45a091; /* Fondo verde oscuro */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; /* Efecto suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para el efecto flotante */
}

/* Efecto al pasar el ratón */
nav ul li a:hover {
    background-color: #388175; /* Fondo más oscuro */
    transform: translateY(-3px); /* Elevar ligeramente */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Intensificar la sombra */
    transform: translateY(-2px);
}

/* Botones del menú */
nav a {
    text-decoration: none; /* Quitar el subrayado */
    color: white; /* Texto blanco */
    background-color: #45a091; /* Fondo un poco más oscuro que el nav */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Efecto al pasar el ratón */
}

/* Hover: Cambiar color y agregar efecto */
nav a:hover {
    background-color: #388175; /* Fondo más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Elevar ligeramente el botón */
}

/* Botón activo (opcional) */
nav a.active {
    background-color: #e0b02c; /* Fondo más oscuro para el botón activo */
    pointer-events: none; /* No se puede hacer clic */
}

/* Estilo para el submenú de sesión */
nav .dropdown {
    position: relative;    
}

nav .dropdown .dropbtn {
    background-color: #45a091;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav .dropdown .dropbtn:hover {
    background-color: #388175;
    transform: translateY(-2px);
}

nav .dropdown-content {
    display: none;
    position: absolute;
    top: 140%;
    background-color: rgba(255, 255, 255, 0);
    min-width: 160px;    
    z-index: 1;
}

nav .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 16px;
}

/* Efecto al pasar el ratón sobre las opciones del submenú */
nav .dropdown-content a:hover {
    background-color: #388175;
    transform: translateY(-2px);
}

/* Mostrar el submenú al pasar el ratón sobre el botón "Sesión" */
nav .dropdown:hover .dropdown-content {
    display: block;
}

/* - BARRAS DE HERRAMIENTAS - */
/* Barra de herramientas */
/* Barra de herramientas (estilo general) */
.toolbar {
    background-color: #45a091; /* Fondo verde similar al menú principal */
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para efecto flotante */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px; /* Espaciado entre submenús */
}

/* Estilo para los submenús */
.toolbar ul {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: flex;
    gap: 20px;
}

/* Botones principales de la barra */
.toolbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #d3d3d3; /* Resalte submenus */
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Hover en los botones principales */
.toolbar a:hover {
    background-color: #d3d3d3; /* Verde más oscuro */
    transform: translateY(-3px); /* Efecto flotante */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Estilo para los submenús */
.toolbar .dropdown {
    position: relative;
}

.toolbar .dropdown .dropbtn {
    cursor: pointer;
}

.toolbar .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para el submenú */
    border-radius: 5px;
    z-index: 1;
    flex-direction: column;
}

.toolbar .dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/* Hover en opciones del submenú */
.toolbar .dropdown-content a:hover {
    background-color: #eeeeee;
    transform: translateY(-2px);
}

/* Mostrar el submenú al pasar el ratón */
.toolbar .dropdown:hover .dropdown-content {
    display: flex;
}

/* - TABLAS - */
/* Estilo general para todas las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
    transform: translateY(-1px);
}

/* Estilos específicos por contenido */

/* Estilo base para las celdas de la columna ID */
.id {
    text-align: center; /* Centrar el contenido */
    width: 5%;
    padding: 10px;
    cursor: pointer; /* Apunta que es interactivo */
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #ddd;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efectos suaves */
}

/* Hover: Cambiar apariencia al pasar el ratón */
.id:hover {
    background-color: #e0e0e0; /* Fondo más oscuro al pasar el ratón */
    transform: scale(1.05); /* Ampliar ligeramente */
}

/* Estado seleccionado */
.id.selected {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    border-color: #45a049; /* Bordes verdes */
    transform: scale(1); /* Tamaño normal al estar seleccionado */
}

/* Estilo base para las celdas de la columna password */
.password {
    font-family: monospace;
    font-size: 0.9rem;
    word-break: break-all;
}

/* Estilo base para las celdas de la columna check */
.check {
    text-align: center;
}

/* - FORMULARIO - */
/* Estilos para los botones del formulario */
.form-buttons {
    display: flex;
    justify-content: space-between; /* Separar los botones horizontalmente */
    gap: 10px; /* Espaciado entre botones */
}

.form-buttons button,
.form-buttons .button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Botón guardar */
.form-buttons button {
    background-color: #4CAF50;
    border: none;
    color: white;
}

.form-buttons button:hover {
    background-color: #45a049;
    border: none;
    transform: translateY(-2px);
}

/* Botón volver */
.form-buttons .button {
    background-color: #e2980d; /* Rojo */
    border: none;
    color: white;
    text-decoration: none; /* Quitar subrayado */
    text-align: center;
}

.form-buttons .button:hover {
    background-color: #c4830b; /* Rojo más oscuro */
    border: none;
    transform: translateY(-2px);
}

/* - DIALOG - */
/* Estilo principal del <dialog> */
dialog {
    border: none;
    border-radius: 5px;    
    background-color: white; /* Fondo */    
    padding: 6px;
    width: 340px;
    max-width: 90%; /* Adaptación a pantallas pequeñas */
    text-align: center;    
    position: fixed;    /* Asegura que se posicione relativo a la ventana */
    top: 50%;   /* Posiciona el elemento verticalmente al 50% */
    left: 50%;  /* Posiciona el elemento horizontalmente al 50% */
    transform: translate(-50%, -50%);   /* Centra el elemento ajustando su referencia */
}

/* Fondo oscuro al mostrar el diálogo */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

dialog select:focus {    
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Efecto al enfocar */
}

/* - NOTIFICACIONES - */
/* Mensajes flotantes */
dialog.mensaje {
    width: 380px;            
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

/* Contenedor del contenido del mensaje */
.mensaje {
    display: flex;
    flex-direction: column; /* Alinear los elementos en columna */
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente (si fuera necesario) */
    gap: 10px; /* Espaciado entre los elementos */
}

/* Estilo para la imagen */
.mensaje img {
    width: 60px; /* Ancho de la imagen */
    height: auto; /* Mantener proporción */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Botones dentro del diálogo */
.close-dialog {
    width: auto;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;    
}

.close-dialog:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.close-dialog:focus {
    outline: none;
}

/* Animación para el mensaje */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* - RESPONSITIVIDAD - */
/* - Opciones de Responsividad - */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Cambiar a disposición vertical en pantallas pequeñas */
        align-items: center;
    }
    nav ul {
        flex-direction: column; /* Cambia a disposición vertical */
        align-items: center;
    }
}

/* - Mensajes de error - */
li.error {
    color: red;
    font-weight: bold;
}

/* Mensajes de éxito */
li.success {
    color: rgb(0, 99, 0);
    font-weight: bold;
}