<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">
</head>
<body>
    <h2>Editar Usuario</h2>
    <form method="POST">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" name="username" id="username" value="{{ username }}" required><br><br>

        <label for="password">Contraseña (opcional):</label>
        <div class="toggle-password">
            <input type="password" name="password" id="password">
            <button type="button" id="toggle-password">Mostrar</button><br><br>
        </div>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" value="{{ telefono }}" required><br><br>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" name="correo" id="correo" value="{{ correo }}" required><br><br>
        
        <!-- Botones -->
        <div class="form-buttons">
            <button type="submit">Guardar Cambios</button>
            <a href="{{ url_for('index') }}" class="button naranja">Volver</a>
        </div>
    </form>

    <!-- Agregar el archivo JS -->
    <script src="{{ url_for('static', filename='JS/toggle-password.js') }}"></script>
</body>
</html>
