<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">    
</head>
<body>
    <!-- Incluir el menú principal -->
    {% include 'menu_principal.html' %}
    
    <div>
        <h1>Gestión de Usuarios</h1>
        <!-- Datos de session -->
        <h3>Sesión iniciada: usuario {{ username }}, nivel {{ nivel_acceso }}</h3>
    </div>
    
    <!-- Barra de herramientas -->
    <nav class="toolbar">
        <ul>
            <!-- Submenú para Actualizar datos -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Actualizar</a>
                <div class="dropdown-content">
                    <a href="#" onclick="editUser()">Datos de usuario</a>
                    <a href="#" onclick="updateAccessLevel()">Nivel de acceso usuario</a>
                    <a href="#" onclick="notificarUsuariosSinDatos()">Notificar usuarios sin datos</a>
                </div>
            </li>
            <!-- Submenú para Enviar Mensajes -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Mensajes</a>
                <div class="dropdown-content">
                    <a href="#" onclick="messageToUser()">Individual</a>
                    <a href="/enviar-mensaje/difusion">Difusión</a>
                </div>
            </li>
            <!-- Submenú para Seguridad -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Seguridad</a>
                <div class="dropdown-content">
                    <a href="#" onclick="ReportOutdatedPasswords()">Notificar contraseñas desactualizadas</a>                    
                </div>
            </li>
        </ul>
    </nav>

    <!-- Tabla de datos -->
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Nombre de Usuario</th>                
                <th>Nivel de Acceso</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Estado de Contraseña</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr data-id="{{ usuario[0] }}">
                    <td class="id" onclick="TableManager.toggleSelection(this)">{{ usuario[0] }}</td>
                    <td>{{ usuario[1] }}</td> <!-- Nombre usuario -->
                    <td>{{ usuario[2] }}</td> <!-- Nivel acceso -->
                    <td>{{ usuario[3] }}</td> <!-- Telefono -->
                    <td>{{ usuario[4] }}</td> <!-- Correo electronico -->
                    <td>{{ usuario[5] }}</td> <!-- Estado de Contraseña -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Archivo para manejar la tabla -->
    <script src="{{ url_for('static', filename='JS/tabla_interactiva.js') }}"></script>
    <!-- Archivo para manejar la barra de herramientas depende de tabla_interactiva-->
    <script src="{{ url_for('static', filename='JS/toolbar_actions.js') }}"></script>
</body>
</html>
