<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">    
</head>
<body>
    <!-- Incluir el menú principal -->
    {% include 'menu_principal.html' %}
    
    <div>
        <h1>Gestión de Usuarios</h1>
        <!-- Datos de session -->
        <h3>Sesión iniciada: usuario {{ username }}, nivel {{ nivel_acceso }}</h3>
    </div>
    
    <!-- Barra de herramientas -->
    <nav class="toolbar">
        <ul>
            <!-- Acciones sobre usuarios seleccionados -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Acciones por Usuario</a>
                <div class="dropdown-content">
                    <a href="#" onclick="handleAction('update')">Actualizar datos</a>
                    <a href="#" onclick="handleAction('access')">Cambiar nivel de acceso</a>
                    <a href="#" onclick="messageToUser()">Mensaje Individual</a>
                </div>
            </li>
        
            <!-- Acciones globales -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Acciones Globales</a>
                <div class="dropdown-content">
                    <a href="#" onclick="notificarUsuariosSinDatos()">Notificar usuarios sin datos</a>                    
                    <a href="#" onclick="ReportOutdatedPasswords()">Notificar contraseñas desactualizadas</a>
                    <a href="/enviar-mensaje/difusion">Enviar mensaje de difusión</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Tabla de datos -->
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Nombre</th>
                <th>Nivel de Acceso</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Estado Contraseña</th>
            </tr>
        </thead>
        <tbody id="usuarios-tbody">
            <!-- Las filas se generarán dinámicamente -->
        </tbody>
    </table>

    <!-- Archivo para cargar los datos de usuarios -->
    <script src="{{ url_for('static', filename='JS/cargar_usuarios.js') }}"></script>
    <!-- Archivo para manejar la tabla -->
    <script src="{{ url_for('static', filename='JS/tabla_interactiva.js') }}"></script>
    <!-- Archivo para manejar la barra de herramientas depende de tabla_interactiva-->
    <script src="{{ url_for('static', filename='JS/toolbar_actions.js') }}"></script>    
</body>
</html>
