<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App01</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">
</head>
<body data-datos-incompletos="{{ datos_incompletos | tojson }}" data-user-id="{{ user_id | tojson }}">
    <!-- Incluir el menú principal -->
    {% include 'menu_principal.html' %}

    <h1>Hola, {{ username }}!</h1>
    <h3>Sesión iniciada, nivel: {{ nivel_acceso }}</h3>

    <!-- Aquí iría el contenido específico de la página -->

    <!-- Área donde se mostrarán los mensajes -->
    <div id="mensajes"></p></div>

    <!-- Agregar el archivo de verificacion de parametro datos completos -->
    <script src="{{ url_for('static', filename='JS/datos_incompletos.js') }}"></script>
    <!-- Agregar el archivo de notificaciones -->
    <script src="{{ url_for('static', filename='JS/notificaciones.js') }}"></script>
</body>
</html>