<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App01</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">
</head>
<body>
    <!-- Incluir el menú principal -->
    {% include 'menu_principal.html' %}

    <h1>Hola, {{ username }}!</h1>
    <h3>Sesión iniciada, nivel: {{ nivel_acceso }}</h3>

    <!-- Aquí iría el contenido específico de la página -->
</body>
</html>