<nav>
    <ul>
        <li><a href="{{ url_for('index', username=username, nivel_acceso=nivel_acceso) }}">Inicio</a></li>
                       
        {% if nivel_acceso >= 2 %}
            <li><a href="#">Funciones</a></li>
        {% endif %}
        
        {% if nivel_acceso >= 3 %}
            <li class="dropdown">
                <a href="#" class="dropbtn">Administración</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('gestion_usuarios') }}">Gestionar usuarios</a>
                </div>
            </li>
        {% endif %}
        
        {% if nivel_acceso >= 1 %}
            <!-- Nueva sección: Usuario -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Usuario</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('actualizar_datos_usuario', user_id=session.user_id) }}">Actualizar datos</a>
                    {% if session.username %}
                        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Iniciar sesión</a>
                    {% endif %}                    
                </div>                               
            </li>            
        {% endif %}        
    </ul>
</nav>